---
import Icon from "astro-icon";
import PageHeader from "../../components/PageHeader.astro";
import Layout from "../../layouts/Layout.astro";
import {itinerario} from "../../lib/data";
import DiasList from "../../components/DiasList.astro";
---

<Layout image={itinerario.cover} title={itinerario.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${itinerario.id} box`
    >
        <PageHeader/>
        <div
                class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6"
        >
            <div class="h-52 w-52 flex-none">
                <img
                        src={itinerario.cover}
                        alt={itinerario.title}
                        class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                        transition:name=`playlist ${itinerario.id} image`
                />
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <h1 class="title-clamp font-bold block">
                        {itinerario.title}
                        <span transition:name=`playlist ${itinerario.id} title`></span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100">
            <div class="px-2 pt-4">
                <DiasList/>
            </div>
        </div>
        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${itinerario.color.accent}`
        >
            <img
                    src={itinerario.cover}
                    alt={itinerario.title}
                    class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
            />
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(20px, 6vw, 70px);
        line-height: 1;
    }
</style>
