---
import {dias} from "../../../lib/data";
import Layout from "../../../layouts/Layout.astro";
import PageHeader from "../../../components/PageHeader.astro";
const day = dias[2]
---
<Layout image={day.cover} title={day.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${day.id} box`
    >
        <PageHeader/>
        <div class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6">
            <div class="h-52 w-52 flex-none">
                <img
                        src={day.cover}
                        alt={day.title}
                        class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                        transition:name=`playlist ${day.id} image`
                />
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <h1 class="title-clamp font-bold block">
                        {day.title}
                        <span transition:name=`playlist ${day.id} title`></span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100 md:flex">
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg mt-1">En el primer día en Kyoto nos centraremos en la parte Este de Kyoto, siguiendo un recorrido desde la estación de Kyoto al Ginkaku-ji o Pabellón de plata.
                </p>
            </div>
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg font-bold mt-1">Esta sera la ruta de sitios que visitaremos</p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/FMZoRwK9Aot4SvaW9" class="underline decoration-sky-500 font-bold">Estación de Kyoto</a>, famosa estación enorme desde donde saldremos a muchos viajes.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/tnbR4DE3WVfiPUY16" class="underline decoration-sky-500 font-bold">Sanjūsangen-dō</a>, templo con 1001 estatuas, nos pilla bien de camino y abre muy pronto.
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/C5YPibvhU2FbFK1y7" class="underline decoration-sky-500 font-bold">Kiyomizu-dera</a>, conjunto de templos famoso por su enorme mirador.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/h17Z3XsCUVirMXgK6" class="underline decoration-sky-500 font-bold">Sannenzaka y Chawanzaka</a>, famosas calles de Kyoto.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/nbHsRdAiNtTzSkxMA" class="underline decoration-sky-500 font-bold">Gion y Pontocho</a>, barrio antiguo, donde podremos comer en alguno de sus restaurantes.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/ymsc6T6kCxFk3bZg8" class="underline decoration-sky-500 font-bold">Santuario Heian</a>, santuario con un jardín y lago precioso.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/rpsQAkRaLcCTLPPn6" class="underline decoration-sky-500 font-bold">Nanzen-ji</a>, santuario que da comienzo al paseo de los filósofos.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/tbRbrZPwywxdR2NH7" class="underline decoration-sky-500 font-bold">Paseo de los filósofos</a>, el mítico paseo de los cerezos.</p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/e7smqvqMG5vhsGfE8" class="underline decoration-sky-500 font-bold">Ginkaku-ji</a>, también conocido como el Pabellón de plata.</p>
            </div>
        </div>
        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${day.color.accent}`
        >
            <img
                    src={day.cover}
                    alt={day.title}
                    class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
            />
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(16px, 3vw, 70px);
        line-height: 1;
    }
</style>
