---
import {dias} from "../../../lib/data";
import Layout from "../../../layouts/Layout.astro";
import PageHeader from "../../../components/PageHeader.astro";
const day = dias[4]
---
<Layout image={day.cover} title={day.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${day.id} box`
    >
        <PageHeader/>
        <div class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6">
            <div class="h-52 w-52 flex-none">
                <img
                        src={day.cover}
                        alt={day.title}
                        class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                        transition:name=`playlist ${day.id} image`
                />
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <h1 class="title-clamp font-bold block">
                        {day.title}
                        <span transition:name=`playlist ${day.id} title`></span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100 md:flex">
            <div class="px-2 pt-4 md:w-1/3">
                <p class="text-lg mt-1">En nuestro tercer día por la ciudad de Kyoto iremos a ver lo más pronto posible Fushimi Inari-Taisha para luego acabar cogiendo un tren hacia Nara y ver el espectacular Tōdai-ji  y los ciervos de Nara.
                </p>

            </div>
            <div class="px-2 pt-4 md:w-1/3">
                <p class="text-lg font-bold mt-1">Esta sera la ruta de sitios que visitaremos</p>
                <p class="text-lg mt-1">· Fushimi Inari-Taisha, atracción más visitada en Kyoto, 4km de camino de Toriis rojos.
                </p>
                <p class="text-lg mt-1">· Estacion de Nara, estacion a 40 min en tren.
                <p class="text-lg mt-1">· Tōdai-ji, uno de los templos de Japón más impresionantes, cuenta dentro con uno de los budas de bronce más grandes de Japón, además está el parque repleto de ciervos originarios de Nara.
                </p>
                <p class="text-lg mt-1">· Kofukuji, nos va de paso para la vuelta, es un parque con su templo más famoso llamado Kofukuji.
                </p>
            </div>
            <div class="px-2 pt-4 md:w-1/3">
                <p class="text-lg mt-1">Este día posiblemente nos quede tiempo libre por la tarde así que sería volver a Kyoto y poder mirar alguna atracción que nos llame la atención.
                </p>
            </div>
        </div>
        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${day.color.accent}`
        >
            <img
                    src={day.cover}
                    alt={day.title}
                    class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
            />
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(16px, 3vw, 70px);
        line-height: 1;
    }
</style>
