---
import {dias} from "../../../lib/data";
import Layout from "../../../layouts/Layout.astro";
import PageHeader from "../../../components/PageHeader.astro";
const day = dias[4]
---
<Layout image={day.cover} title={day.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${day.id} box`
    >
        <PageHeader/>
        <div class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6">
            <div class="h-52 w-52 flex-none">
                <img
                        src={day.cover}
                        alt={day.title}
                        class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                        transition:name=`playlist ${day.id} image`
                />
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <h1 class="title-clamp font-bold block">
                        {day.title}
                        <span transition:name=`playlist ${day.id} title`></span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100 md:flex">
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg mt-1">Nos levantaremos para realizar un trayecto desde <a href="" class="underline decoration-sky-500 font-bold">Kyoto a Hiroshima</a>, el trayecto son poco más de 1h 30min.
                </p>
                <p class="text-lg mt-1"><a href="" class="underline decoration-sky-500 font-bold">Trayecto desde Kyoto a Hiroshima</a></p>
                <p class="text-lg mt-1"><a href="" class="underline decoration-sky-500 font-bold">Zona donde cayó la bomba atómica</a></p>
            </div>
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg font-bold mt-1">Después de ver el memorial cogemos un tren para ir a ver <a href="" class="underline decoration-sky-500 font-bold">una de las mejores islas de Japón</a>, donde el ferry nos entra con el JR Pass.
                </p>
                <p class="text-lg mt-1">· <a href="" class="underline decoration-sky-500 font-bold">Trayecto desde Hiroshima a Miyajimaguchi</a>
                </p>
                <p class="text-lg mt-1">· <a href="" class="underline decoration-sky-500 font-bold">Miyajima</a>, isla santuario que cuenta con ciervos, un toori dentro del agua y varios templos.
                </p>
                <p class="text-lg mt-1">· Al acabar de ver la isla deberíamos volver a Kyoto para prepararnos para irnos.</p>
            </div>
        </div>

        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${day.color.accent}`
        >
            <img
                    src={day.cover}
                    alt={day.title}
                    class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
            />
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(16px, 3vw, 70px);
        line-height: 1;
    }
</style>
