---
import {dias} from "../../../lib/data";
import Layout from "../../../layouts/Layout.astro";
import PageHeader from "../../../components/PageHeader.astro";
import HeaderItinerario from "../../../components/HeaderItinerario.astro";
const day = dias[6]
---
<Layout image={day.cover} title={day.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${day.id} box`
    >
        <HeaderItinerario/>
        <div class="flex flex-col items-center md:flex-row md:items-stretch gap-8 px-6">
            <div class="h-52 w-52 flex-none">
                <img
                        src={day.cover}
                        alt={day.title}
                        class="object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                        transition:name=`playlist ${day.id} image`
                />
            </div>
            <div class="flex flex-col justify-center">
                <div>
                    <h1 class="title-clamp font-bold block">
                        {day.title}
                        <span transition:name=`playlist ${day.id} title`></span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="bg-zinc-900/30 mt-6 flex-1 p-6 blur-100 md:flex">
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg mt-1">Este día podemos permitirnos dormir un poco más y descansar el cuerpo.
                </p>
                <p class="text-lg mt-1">Después de habernos pegado el festín en Kobe iremos a visitar <a href="https://maps.app.goo.gl/WFKYHCJ6wQY3FCTp8" class="underline decoration-sky-500 font-bold">Osaka</a>, que queda a 30 minutos en tren desde Kyoto.
                </p>
                <p class="text-lg mt-1">Así describen Osaka la mayoría de gente de Japón: calles llenas de luces y olor a comida, ruido, gente, restaurantes con todo tipo de manjares, retrofuturismo y ese carácter afable de sus habitantes. Ōsaka es la ciudad rebelde de Japón.
                </p>
                <p class="text-lg mt-1">Dato importante: en Osaka se come muy bien, para muchos japoneses es donde está la mejor comida. <a href="https://japonismo.com/blog/las-once-mejores-comidas-de-osaka" class="underline decoration-sky-500 font-bold">Guia para comer en Osaka</a></p>
            </div>
            <div class="px-2 pt-4 md:w-1/2">
                <p class="text-lg font-bold mt-1">Esta sera la ruta de sitios que se podria visitar:</p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/AtkPdk11pmKfpVX5A" class="underline decoration-sky-500 font-bold">Umeda Sky</a>, una construcción sin ningún tipo de sentido donde se ve todo Osaka
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/xqHSmb7MbSbrTNie9" class="underline decoration-sky-500 font-bold">Castillo de Osaka</a>, uno de los mejores castillos de Japón, no hace falta entrar lo podemos ver desde fuera.
                </p>
                <p class="text-lg mt-1">· <a href="https://maps.app.goo.gl/omw3Vd7MHS5URMdj7" class="underline decoration-sky-500 font-bold">Dotonbori</a>, barrio futurista de Osaka, parece que estás en Cyberpunk.
                </p>
                <p class="text-lg font-bold mt-1">Este dia podriamos salir por la calles de Dotonbori, donde por la noche cobra mas vida todavia.
                </p>
            </div>
        </div>
        <div
                class="absolute h-screen inset-0 z-[-1] bg-gradient-to-b from-context"
                style=`--context-color:${day.color.accent}`
        >
            <img
                    src={day.cover}
                    alt={day.title}
                    class="el-to-fade transition-all duration-500 z-[-1] absolute inset-0 mix-blend-overlay opacity-20 scale-90 w-full h-full object-cover blur-md"
            />
            <div
                    class="absolute inset-0 bg-gradient-to-t via-transparent from-zinc-900"
            >
            </div>
        </div>
    </div>
</Layout>

<style>
    .title-clamp {
        font-size: clamp(16px, 3vw, 70px);
        line-height: 1;
    }
</style>
